# Keil/Vision 编译生成文件
*.crf
*.d
*.o
*.axf
*.hex
*.htm
*.lnp
*.map
*.dep
*.build_log.htm
*.uvguix.*
*.uvoptx
JLinkLog.txt
Nu_Link_Driver.ini

# 项目特定
src/STM32F103/Listings/
src/STM32F103/Objects/
src/STM32F103/RTE/

# ROS2 / Python
build/
install/
log/

# 备份
*.bak
*.lnp
